* {
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #F2BFBE;
    --sec-color: #FAE9E9;
    --tr-color: #DC5B59;
    --tulisan: #303030;
}

body {
    padding-top: 80px;
}

.tsec {
    height: 2000px;
    background-color: var(--main-color);
    background-image: url(../assets/backgroud1.png);
    backdrop-filter: blur(20%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: var(--sec-color);
        width: 100%;
        z-index: 1000;

        .container-fluid {
            .navbar-brand {
                font-size: 20px;
                color: var(--tulisan);
                font-weight: bold;
            }

            .navbar-collapse {
                .d-flex {
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                font-size: 14px;
                                color: var(--tulisan);
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

    .img-fluid {
        margin-top: 50px;
        margin-left: 75px;
    }

    .info-page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        .textinfo {
            margin-left: 225px;
            color: var(--tulisan);

            h1 {
                font-size: 35px;
                font-weight: 600;
            }

            .hr {
                width: 135px;
                background-color: var(--tr-color);
                height: 3px;
                border-radius: 3px;
            }

            .penerimaan {
                p {
                    color: var(--tulisan);
                    font-weight: 400;

                    span {
                        color: var(--tulisan);
                        font-weight: 600;
                    }
                }
            }

            a {
                background-color: var(--tr-color);
                color: white;
                border-radius: 47px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                width: 170px;
                padding-top: 10px;
                padding-bottom: 11px;

                &:hover {
                    background-color: var(--tr-color);
                    opacity: 70%;
                }
            }
        }

        .imageinfo {
            margin-left: 70px;
        }
    }
}

.jenjang {
    .title-jenjang {
        display: flex;
        justify-content: center;
        align-items: center;

        .pilihan-jenjang {
            color: var(--tr-color);
            font-size: 40px;
            line-height: 45px;
            font-weight: 600;
            background-color: var(--sec-color);
            width: 663px;
            height: 63px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .jenjangs {
        background-color: #F6D4D3;
        width: 1678px;
        height: 600px;
        border-radius: 16px;

        .row {
            .kartu {
                margin-top: 51px;

                .card {
                    .card-body {
                        .text-center {
                            .topi {
                                width: 120px;
                                height: 120px;
                            }

                            span {
                                color: var(--tr-color);
                                font-weight: 700;
                                font-size: 20px;
                                margin-top: 66px;
                            }

                            p {
                                color: var(--tulisan);
                                font-weight: 500;
                                font-size: 14px;
                                margin-top: 35px;
                            }
                        }
                    }
                }
            }
        }

        .btn-jenjang {
            margin-top: 29px;
            border-radius: 35px;
            justify-content: center;
            background-color: var(--tr-color);
            border: none;
            width: 200px;
            height: 45px;

            .btn {
                color: white;
                font-weight: 400px;
            }

            &:hover {
                background-color: var(--tr-color);
                opacity: 70%;
            }
        }
    }
}

.program-unggulan {
    .title-program {
        display: flex;
        justify-content: center;
        align-items: center;

        .pilihan-program {
            color: var(--tr-color);
            font-size: 40px;
            line-height: 45px;
            font-weight: 600;
            background-color: var(--sec-color);
            width: 663px;
            height: 63px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 75px;
        }
    }

    .row {
        width: 100%;
        margin-top: 23px;
        display: flex;
        justify-content: center;
        align-items: center;

        .textimage {
            background-color: var(--sec-color);
            border-radius: 15px;
            width: 560px;
            margin: 0;
            padding: 0;
            height: 280px;

            .text {
                margin-top: 30px;
                margin-left: 25px;

                h5 {
                    font-weight: 700;
                    font-size: 20px;
                }

                p {
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            img {
                margin-left: 20px;
            }
        }

        .image {
            width: 560px;
        }
    }
}

.biaya-pendidikan {
    .title-biaya {
        display: flex;
        justify-content: center;
        align-items: center;

        .pilihan-biaya {
            color: var(--tr-color);
            font-size: 40px;
            line-height: 45px;
            font-weight: 600;
            background-color: var(--sec-color);
            width: 663px;
            height: 63px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 75px;
        }
    }

    .row {
        .biaya {
            width: 600px;
            height: 520px;
            background-color: var(--sec-color);
            margin-left: 40px;
            border-radius: 15px;
            font-weight: 700;

            h3 {
                margin-top: 50px;
                margin-left: 50px;
                color: #E37C7A;
                font-size: 35px;
            }

            .harga-daftar {
                margin-left: 50px;
                color: var(--tr-color);

                h4 {
                    font-size: 35px;
                }

                h5 {
                    font-size: 40px;
                    margin-top: 10px;
                    margin-left: 8px;
                }
            }

            .detail-harga {
                margin-left: 70px;

                p {
                    font-weight: 400;
                    margin-left: 5px;
                    margin-top: -4px;
                }
            }

            .keterangan {
                img {
                    margin-left: 50px;
                    margin-top: 20px;
                }

                .brosur {
                    h3 {
                        margin-left: 20px;
                        font-size: 20px;
                        margin-top: 23px;
                    }

                    h5 {
                        font-size: 16px;
                        margin-left: 20px;
                    }

                    img {
                        margin-left: 20px;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}

.agenda-psb {
    .agenda {
        background-color: #EA9D9C;
        width: 1300px;
        height: 578px;
        margin-top: 75px;

        .kalender {
            margin-top: 150px;
            margin-left: 220px;
        }

        .jadwal {
            margin-top: 150px;
            margin-left: 33px;
        }
    }
}

.galeri-foto {
    margin-top: 70px;

    .galeri {
        background-color: var(--main-color);

        .foto {
            margin: 100px 0 0 200px;
            width: 70%;
            height: 450px;
            display: flex;
            justify-content: center;
            gap: 10px;

            img {
                margin-top: -70px;
                width: 25%;
                height: 80%;
                object-fit: cover;
                border-radius: 10px;
                transition: all ease-in-out 0.5s;
                filter: grayscale(100%);

                &:hover {
                    width: 30%;
                    filter: grayscale(0%);
                }
            }
        }

        .foto2 {
            margin-top: -50px;
        }

        .text-foto {
            margin-left: 150px;
            margin-top: 50px;
            width: 200px;
            height: 24px;

            color: var(--tr-color);
        }
    }
}

.hana {
    background-image: url(../assets/Group\ 21.png);
    position: relative;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 500px;
    margin-top: 70px;

    .text-ajakan {
        .textAjakan {
            padding: 60px;

            h1 {
                margin-top: 70px;
                justify-content: center;
                align-items: center;
                display: flex;
                color: white;
            }

            img {
                margin-left: 525px;
                width: 86px;
            }

            h5 {
                justify-content: center;
                align-items: center;
                display: flex;
                color: white;
            }
        }

        .btn-ajakan {
            margin-top: 29px;
            border-radius: 35px;
            justify-content: center;
            background-color: var(--tr-color);
            border: none;
            width: 200px;
            height: 45px;
            color: white;
        }
    }
}

footer {
    justify-content: center;
    align-items: start;
    display: flex;
    margin-top: 150px;
    position: relative;
    background-color: var(--main-color);
    z-index: 1;
    width: 100%;
    height: 460px;

    .komentar {
        padding-left: 200px;
        padding-top: 50px;

        .p-text {
            margin-top: -10px;

            p {
                margin-top: 2px;
            }
        }
    }

    .hubungi {
        margin-top: 50px;
        padding-left: 50px;
    }

    p {
        margin-top: -30px;

        h6 {
            span {
                width: 200px;
                font-weight: bold;
                margin-top: -20px;
            }
        }
    }

    h5 {
        margin-top: -20px;
    }
}